<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About us</h2>
            <p>Course 4 - ejs is a learning project to understand the basics of ejs templating engine.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus assumenda nihil quidem molestiae quam sed neque, praesentium in vitae ad iure similique labore distinctio natus asperiores modi omnis ea blanditiis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam aliquid eveniet ex eaque recusandae hic? Distinctio, illum doloremque facere aliquam repellendus pariatur repudiandae possimus recusandae vero, obcaecati aspernatur non.</p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>